/**
You can Add the styles that will be applied to the You tube player
 */
body, html {
    /*background-color: aqua;*/
}

ytd-app {
    background: inherit !important;
}

ytd-watch {
    background: inherit !important;
}

/*.ytd-watch {*/
/*position: fixed;*/
/*}*/
.fixed {
    position: fixed !important;
}

.right-side-comments,
.right-side-info,
.right-side-meta {
    width: auto !important;
}

#related.is-fixed {
    padding-top: 480px;
}