/**
You can Add the styles that will be applied to the You tube player
 */
body, html {
    background-color: aqua;
}

ytd-app {
    background: inherit !important;
}

ytd-watch {
    background: inherit !important;
}

#player.ytd-watch {
    position: fixed !important;
}